@import '../../styles/common.scss';

.editClanInfo-page {
  height: 100%;
  @extend .flex-box;
  @extend .flex-column;
  .editClanInfo-content{
    @extend .flex;
    padding: 10px 15px;
    background: #fff;
    border-top: 1px solid #EEEEEE;
    .editClanSlogan-content-wrapper, .editClanIntroduce-content-wrapper{
      height: 264px;
      background: #EEEEEE;
      .am-textarea-item{
        background: #EEEEEE;
        .am-textarea-control{
          textarea{
            font-size: 15px;
            color: #333333;
          }
        }
      }
    }
  }
}