@import '../../styles/common.scss';
.h10{
  height: 10px;
  background: #EDEDED;
}
.camTeam-page {
  height: 100%;
  @extend .flex-box;
  @extend .flex-column;
  .clanMien-content{
    @extend .flex;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
    .clanMien-top{
      img{
        width: 100%;
        height: 4rem;
      }
    }
    @extend .flex;
    background: #fff;
    .clanMien-info{
      padding: 0 10px 10px 10px;
    }
    .clanMien-info-wrapper{
      position: relative;
      height: 3.48rem;
    }
    .clanMien-info-content{
      width: 100%;
      height: 4.88rem;
      background: url('./images/info_bg@2x.png') no-repeat;
      background-size: 100%;
      position: absolute;
      top: -1.4rem;
      .clanMien-info-logo-bg{
        display: block;
        width: 3rem;
        height: 1.1rem;
        position: absolute;
        left: 50%;
        top: .6rem;
        margin-left: -1.5rem;
      }
      .clanMien-info-logo{
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        left: 50%;
        top: .6rem;
        margin-left: -0.7rem;
        border-radius:50%;
      }
      .clanMien-info-rank{
        display: block;
        width: 1.6rem;
        height: .56rem;
        line-height: .56rem;
        position: absolute;
        top: .4rem;
        right: .2rem;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
        background: url('http://cdn09.ehaier.com/shunguang/H5/www/img/competition/rank_icon@2x.png') no-repeat;
        background-size: 100%;
        padding-left: .2rem;
      } 
      .clanMien-info-des{
        width: 100%;
        position: absolute;
        top: 2.4rem;
        p{
          text-align: center;
          line-height: 18px;
          font-size: 14px;
          color: #fff;
        }
        .clanMien-info-name{
          font-size: 16px;
          .clanMien-edit-icon{
            width: 24px;
          }
        }
        .cam-detail{
          font-size: 12px;
          color: #FFE84E;
        }
      }
      .clanMien-info-list{
        width: 100%;
        @extend .flex-box;
        @extend .flex-center;
        position: absolute;
        bottom: .48rem;
        li:not(.clanMien-info-list-line){
          @extend .flex;
          span{
            display: block;
            line-height: 16px;
            font-size: 12px;
            color: #fff;
            text-align: center;
            &:nth-of-type(1){
              color: #F3E297;
            }
          }
        }
        .clanMien-info-list-line{
          width: 1px;
          height: 36px;
          background: #fff;
          opacity: 0.6;
        }
      }
    }

    .clanMien-indroduce{
      padding: 0 10px;
      .clanMien-indroduce-logo{
        width: 100%;
        padding: 20px 10px 0 10px;
        img{
          display: block;
          width: 100%;
          height: 3.6rem;
          border-radius: 6px;
        }
      }
      .clanMien-indroduce-more-btn{
        line-height: 46px;
        font-size: 16px;
        color: #999999;
        text-align: center;
        border-top: 1px solid #EEEEEE;
      }
      .clanMien-indroduce-content{

      }
    }

    .cam-list{
      padding:0px 2px 8px 8px;
      .cam-list-item{
        height:2.38rem;
        @extend .flex-box;
        @extend .flex-center;
        .cam-list-img{
          @extend .flex;
          width:1.3rem;
          padding-right:6px;
        }
      }
    }

    .cam-team-list{
      background-image: linear-gradient(-180deg, #072671 0%, #7F0C7C 100%);
      background: #0A0561;
      border: 1px solid #11002C;
      border-radius: 6px;
      margin:10px;
      padding:20px 18px 0.5rem;
      position:relative;
      .go-top{
        width:1.1rem;
        height:1.1rem;
        position:absolute;
        right:0px;
        bottom:0px;
      }
      .cam-team-title{
        width:100%;
      }
      .table-list{
        padding-bottom:20px;
      }
      .table-ll{
        border-radius:10px;
        .am-list-header{
          padding:0;
        }
        width:100%;
        .am-list-listView{
          height:300px !important;
        }
        ul{
          width:100%;
          border:0;
          border-bottom: 1px solid #F2F2F2;
          @extend .flex-box;
          display:table;
          border:0;
          .liTop{
            background: #ECECEC;
            height:0.9rem;
            font-size: 14px;
            color: #333333;
            padding:0 0.2rem;
            border-right:1px solid#fff;
          }
          li{
            border:0;
            display:table-cell;
            vertical-align:middle;
            text-align:center;
            background:#fff;
            font-size: 12px;
            color: #666666;
            height:0.7rem;
            border-right:1px solid#fff;
            // @extend .one-line-overflow;
          }
          .me{color: #FF6026;}
          .li-first{
            min-width:1.5rem;
            max-width:1.5rem;
            @extend .one-line-overflow;
          }
          .li-second{
            min-width:1.7rem;
            max-width:1.7rem;
          }
          .li-third{
            min-width:1.7rem;
            max-width:1.7rem;
          }
          .li-all{
            min-width:1.3rem;
            max-width:1.3rem;
          }
        }
      }
    }
  }
  .clanMien-footer{
    width:100%;
    height: 44px;
    padding: 0 10px;
    @extend .flex-box;
    @extend .flex-mid;
    @extend .flex-center;
    .clanMien-footer-left{
      @extend .flex;
      @extend .flex-box;
      @extend .flex-mid;
      margin-right: 3px;
      .am-list-item{
        height: 32px;
        background: #EEEEEE;
        border: 1px solid #E4E4E4;
        border-radius: 100px;
        min-height: 0;
        .am-list-line{
          .am-input-control{
            input{
              font-size: 12px;
              color: #999999;
            }
          };
        }
      }
    }
    .clanMien-footer-right{
      @extend .flex;
      @extend .flex-box;
      @extend .flex-mid;
      margin-left: 3px;
      .clanMien-footer-btn{
        width: 100%;
        height: 32px;
        background: url('http://cdn09.ehaier.com/shunguang/H5/www/img/competition/btn_bg.png') no-repeat;
        background-size: 100% 100%;
        @extend .flex-box;
        @extend .flex-mid;
        @extend .flex-center;
        span{
          display: block;
          @extend .flex;
          font-size: 14px;
          color: #FBD46F;
          text-align: center;
          line-height: 32px;
        }
        .clanMien-footer-btn-line{
          width: 1px;
          height: 16px;
          background: rgba(255,255,255,0.45);
        }
      }
    }
  }
}