@import '../../styles/common.scss';
.h10{
  height: 10px;
  background: #EDEDED;
}
.clanMien-page {
  height: 100%;
  @extend .flex-box;
  @extend .flex-column;
  .am-list-header{
    padding: 0;
    .clanMien-list-header{
      .clanMien-top{
        img{
          width: 100%;
          height: 4rem;
        }
      }
      @extend .flex;
      background: #fff;
      .clanMien-info{
        padding: 0 10px 10px 10px;
      }
      .clanMien-info-wrapper{
        position: relative;
        height: 3.48rem;
      }
      .clanMien-info-content{
        width: 100%;
        height: 4.88rem;
        background: url('http://cdn09.ehaier.com/shunguang/H5/www/img/competition/info_bg@2x.png') no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: -1.4rem;
        .clanMien-info-logo-bg{
          display: block;
          width: 3rem;
          height: 1.1rem;
          position: absolute;
          left: 50%;
          top: .6rem;
          margin-left: -1.5rem;
        }
        .clanMien-info-logo{
          display: block;
          width: 1.4rem;
          height: 1.4rem;
          position: absolute;
          left: 50%;
          top: .6rem;
          margin-left: -0.7rem;
          border-radius: 50%;
        }
        .clanMien-info-rank{
          display: block;
          width: 1.6rem;
          height: .56rem;
          line-height: .56rem;
          position: absolute;
          top: .4rem;
          right: .2rem;
          font-size: 12px;
          color: #FFFFFF;
          text-align: center;
          background: url('http://cdn09.ehaier.com/shunguang/H5/www/img/competition/rank_icon@2x.png') no-repeat;
          background-size: 100% 100%;
          padding-left: .2rem;
        } 
        .clanMien-info-des{
          width: 100%;
          position: absolute;
          top: 2.14rem !important;
          p{
            text-align: center;
            line-height: 18px;
            font-size: 14px;
            color: #fff;
            @include line(1);
          }
          .clanMien-info-name{
            font-size: 16px;
            .clanMien-edit-icon{
              width: 24px;
            }
          }
        }
        .clanMien-info-list{
          width: 100%;
          @extend .flex-box;
          @extend .flex-center;
          position: absolute;
          bottom: .48rem;
          li:not(.clanMien-info-list-line){
            @extend .flex;
            span{
              display: block;
              line-height: 16px;
              font-size: 12px;
              color: #fff;
              text-align: center;
              &:nth-of-type(1){
                color: #F3E297;
              }
            }
          }
          .clanMien-info-list-line{
            width: 1px;
            height: 36px;
            background: #fff;
            opacity: 0.6;
          }
        }
      }
  
      .clanMien-indroduce{
        padding: 50px 10px 0 10px;
        position: relative;
        .clanMien-indroduce-title{
          width: 148px;
          height: 38px;
          background: url('http://cdn09.ehaier.com/shunguang/H5/www/img/race/indroduce_bg@2x.png') no-repeat;
          background-size: 100% 100%;
          text-align: center;
          line-height: 27px;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -74px;
          font-size: 16px;
          color: #FFFFFF;
        }
        .clanMien-indroduce-more-btn{
          line-height: 46px;
          font-size: 16px;
          color: #999999;
          text-align: center;
          border-top: 1px solid #EEEEEE;
          .more-btn{
            width: 24px;
          }
        }
        .clanMien-indroduce-content{
          height: 180px;
          overflow: hidden;
          .introduce-wrapper{
            .introduce-title{
              line-height: 26px;
              font-size: 15px;
              text-indent: 2em;
            }
            .introduce-content{
              line-height: 20px;
              font-size: 12px;
              text-indent: 2em;
            }
            .introduce-images{
              width: 100%;
              padding: 20px 10px 0 10px;
              img{
                display: block;
                width: 100%;
                border-radius: 6px;
                margin: 5px 0;
              }
            }
          }
        }
        .clanMien-indroduce-content.autoHeight{
          height: auto;
        }
      }
    }
  }
  .am-list-body::before, .am-list-body::after{
    display: none !important;
  }
  .clanMien-content{
    @extend .flex;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .clanMien-comment{
      width: 100%;
      .clanMien-comment-list{
        width: 100%;
        .clanMien-comment-item{
          @extend .flex-box;
          padding: 0 16px;
          .clanMien-comment-item-left{
            width: 36px;
            height: 36px;
            img{
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
          .clanMien-comment-item-right{
            @extend .flex;
            padding-left: 15px;
            .clanMien-comment-item-name{
              font-size: 12px;
              color: #999999;
              padding: 9px 0;
              .blue{
                color: blue;
              }
            }
            .clanMien-comment-item-text{
              font-size: 14px;
              color: #333333;
              text-align: justify;
              @include line(3);
            }
            .clanMien-comment-item-time{
              font-size: 12px;
              color: #999999;
              padding: 14px 0;
            }
          }
        }
      }
    }
  }
  .clanMien-footer{
    width:100%;
    min-height: 44px;
    padding: 0 10px;
    height: auto !important;
    @extend .flex-box;
    @extend .flex-mid;
    @extend .flex-center;
    background: #fff;
    .clanMien-footer-left{
      @extend .flex;
      @extend .flex-box;
      @extend .flex-mid;
      margin-right: 3px;
      .am-list-item{
        width: 100%;
        height: auto !important;
        min-height: 32px;
        background: #EEEEEE;
        border: 1px solid #E4E4E4;
        border-radius: 100px !important;
        max-height: 75px;
        padding-left: 6px !important;
        padding-right: 6px !important;
        .am-list-line{
          .am-input-label{
            width: 22px;
            .comment-btn{

            }
          }
          .am-input-control{
            input{
              width: 100%;
              font-size: 12px;
              color: #999999;
            }
          };
        }
        .am-textarea-label{
          width: 22px;
          min-height: auto;
          line-height: 32px;
        }
        .am-textarea-control{
          padding-top: 0;
          padding-bottom: 0;
          textarea{
            width: 100%;
            font-size: 12px;
            color: #999999;
          }
        }
      }
      .am-list-item.isFocus-textarea{
        border-radius: 4px !important;
        margin-bottom: 6px;
      }
    }
    .clanMien-footer-right{
      @extend .flex;
      @extend .flex-box;
      @extend .flex-mid;
      margin-left: 3px;
      .clanMien-footer-btn{
        width: 100%;
        height: 32px;
        background: url('http://cdn09.ehaier.com/shunguang/H5/www/img/competition/btn_bg.png') no-repeat;
        background-size: 100% 100%;
        @extend .flex-box;
        @extend .flex-mid;
        @extend .flex-center;
        span{
          display: block;
          @extend .flex;
          font-size: 14px;
          color: #FBD46F;
          text-align: center;
          line-height: 32px;
        }
        .clanMien-footer-btn-line{
          width: 1px;
          height: 16px;
          background: rgba(255,255,255,0.45);
        }
      }
    }
    .clanMien-footer-publish-btn{
      font-size: 14px;
      color: #666666;
    }
    .clanMien-footer-publish-btn.light{
      color: #FF6026;
    }
    .clanMien-footer-publish-btn.isFocus-footer-publish-btn{
      margin-bottom: 6px;
    }
  }
}